#friends-display-link {
  display: block;
  text-align: center;
  color: #2f363e;
  background-color: #fafafa;
  padding: 15px 0;
  font-size: 18px;
}

#friends-display-link i {
  color: #d5d5d5;
}

#friends-display-link i:first-child {
  margin-right: 5px;
}

#friends-display-link i:last-child {
  margin-left: 5px;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 10px;
  border-top: 2px solid #f1f1f1;
  padding: 15px 0;
}

.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
}

.friends-screen__channel-header span,
.friends-screen__channel-header i {
  color: var(--gray);
}

.friends-screen__channel-header span {
  font-size: 15px;
}
