.badge {
  background-color: tomato;
  border-radius: 50%;
  display: flex;
  color: white;
  font-weight: 600;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
}

.badge-settings {
  width: 20px;
  height: 20px;
  font-size: 12px;
}
