.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2f363e;
  position: relative;
}

.nav__notification {
  background-color: tomato;
  border-radius: 50%;
  display: flex;
  position: absolute;
  color: white;
  font-weight: 600;
  width: 25px;
  height: 25px;
  justify-content: center;
  align-items: center;
  top: -18px;
  right: -12px;
}

.nav__dotted {
  background-color: tomato;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  right: -7px;
}
