.point {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  right: -8px;
  top: -8px;
}

.screen-header .point {
  background-color: var(--yellow);
}
