.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25px 20px 20px;
  background-color: tomato;
  box-shadow: 0 5px 28px rgba(0, 0, 0, 0.3);
  top: 32px;
  margin-bottom: 20px;
  position: fixed;
  box-sizing: border-box;
  width: 100%;
}

.screen-header__title {
  color: #212121;
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons {
  color: #212121;
}

.screen-header__icons span {
  margin-left: 30px;
  position: relative;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 1s linear infinite;
}
